<div class='app-header'>
    <ul nz-menu [nzMode]="'horizontal'">
        <li nz-menu-item>
            <a routerLink="/">
                <i nz-icon type="home" theme="fill"></i>
                首页
            </a>
        </li>
        <li nz-menu-item>
            <a routerLink='/resource'>
                <i nz-icon type="home" theme="fill"></i> 
                资料
            </a>
        </li>
        <li nz-menu-item>
            <a routerLink='/about'>
                <i nz-icon type="home" theme="fill"></i> 
                关于
            </a>
        </li>
    </ul>
</div>